<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KHZXQCDS');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N42L4N7TC5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-N42L4N7TC5');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <h1>
                Xuan-Bac Nguyen
              </h1>
              <p>
                I am currently a PhD student in the <a href="https://computer-science-and-computer-engineering.uark.edu/" target="_blank" rel="noreferrer noopener">Computer Science and Computer Engineering Department</a> at the <a href="https://www.uark.edu/" target="_blank" rel="noreferrer noopener">University of Arkansas</a>, under the supervision of <a href="https://engineering.uark.edu/electrical-engineering-computer-science/electrical-engineering-faculty/uid/khoaluu/name/Khoa+Luu/" target="_blank" rel="noreferrer noopener">Dr. Khoa Luu</a>. 
                I previously earned my M.S. in Computer Science from <a href="https://international.jnu.ac.kr/" target="_blank" rel="noreferrer noopener">Chonnam National University</a>, advised by Prof. Gueesang Lee, and my B.Sc. in Electronics and Telecommunications from the <a href="https://uet.vnu.edu.vn/" target="_blank" rel="noreferrer noopener">University of Engineering and Technology, VNU</a>. 
                My research interests include computer vision, vision-brain understanding, and quantum machine learning.

              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:xnguyen@uark.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=UUPllH4AAAAJ&hl=en" target="_blank" rel="noreferrer noopener">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/ngxbac" target="_blank" rel="noreferrer noopener">Github</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/xuan-bac-nguyen-70340b66/" target="_blank" rel="noreferrer noopener"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:80%;max-width:100%" alt="profile photo" src="images/BacNguyen.webp">
            </td>
          </tr>
        </table>

        <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              <tr>
                <td style="padding:20px;width:100%;vertical-align:middle">
                  <h2>Recent News</h2>

                  <div class="scroll-container">

                    <p>Sep. 2025: One paper has been accepted to <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=34">IEEE Transactions on pattern analysis and machine intelligence (IF: 18.6).</a>  Congratulations!
                    </p>

                    <p>Jun. 2025: One paper has been accepted to
                      <a href="https://link.springer.com/journal/11263">International Journal of Computer
                        Vision (IF 15.5)</a>. Congratulations!
                    </p>

                    <p>Jun. 2025: One paper has been accepted to
                      <a href="https://link.springer.com/journal/42484">Quantum Machine Intelligence (IF 5.6)</a>. Congratulations!
                    </p>

                    <p>Feb. 2025: Bac successfully defended Ph.D Thesis Proposal "Towards Vision-Brain Understanding At Scales: From Classical to Quantum Machine Learning Approaches". Congratulations!
                    </p>

                    <p>Jan. 2025: Bac was awarded College of Engineering Graduate Fellowships. Congratulations!
                    </p>

                    <p>Dec. 2024: One paper has been accepted to <a href="https://www.sciencedirect.com/journal/neurocomputing">Neurocomputing (IF: 6.5).</a>  Congratulations!
                    </p>

                    <p>Sep. 2024: Bac was awarded UA Graduate Fellowships. Congratulations!
                    </p>

                    <p>Sep. 2024: One paper has been accepted to 2024 IEEE Workshop on Signal Processing Systems.  Congratulations!
                    </p>

                    <p>Aug. 2024: One paper has been accepted to <a href="https://link.springer.com/journal/42484">Quantum Machine Intelligence (IF 5.6)</a>.  Congratulations!
                    </p>

                    <p>Apr. 2024: Our paper is selected as highlight (11.9%) at CVPR 2024.  Congratulations!
                    </p>

                    <p>Jan. 2024: One paper has been accepted to CVPR 2024,  Congratulations!
                    </p>

                    <p>Jul. 2023: Bac won 3rd at  The Algonauts Challenge 2023. Congratulations!
                    </p>

                    <p>May. 2023: Bac was awarded CVPR 2023 Outstanding Reviewers. Congratulations!
                    </p>

                    <p>Feb. 2023: One paper has been accepted to CVPR 2023. Congratulations!
                    </p>

                    <p>Aug. 2022: Bac was awarded Reginald R. “Barney” & Jameson A. Baxter Graduate Fellowship. Congratulations!
                    </p>

                    <p>May. 2022: One paper has been accepted to ICPR 2022. Congratulations!
                    </p>

                    <p>Mar. 2021: One paper has been accepted to CVPR 2021. Congratulations!
                    </p>

                    <p>Aug. 2020: Bac got Master of Computer Science from Chonnam National University. Congratulations!
                    </p>

                  </div>

                </td>
              </tr>
            </tbody>
          </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr{% if post.highlight %} class="post-highlight"{% endif %}>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>
                {% if post.highlight %}
                  <span class="highlight">{{ post.title }}</span>
                {% else %}
                  {{ post.title }}
                {% endif %}
              </h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank" rel="noreferrer noopener">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank" rel="noreferrer noopener">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank" rel="noreferrer noopener">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank" rel="noreferrer noopener">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank" rel="noreferrer noopener">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank" rel="noreferrer noopener">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank" rel="noreferrer noopener">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Source code from <a style="font-size:small;" href="https://leonidk.com/" target="_blank" rel="noreferrer noopener">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

